@model List<Producto>
@{
    Layout = "_Layout"; // Establecer el layout a utilizar
}
<body>

    <!-- Modal -->
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>



    <!-- Start Banner Hero -->
    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="~/img/25.png" alt="" style="width: 600px; height: 500px;">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                @if (Model != null)
                                {
                                    var producto = Model.FirstOrDefault(p => p.Id == 25);
                                    if (producto != null)
                                    {
                                        <h1 class="h1 text-success">@producto.Nombre_producto</h1>
                                        <p>@producto.Descripcion</p>
                                    }
                                }
                                else
                                {
                                    <p>No se encontraron productos.</p>
                                }
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="~/img/3.png" alt="" style="width: 600px; height: 500px;">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                @if (Model != null)
                                {
                                    var producto = Model.FirstOrDefault(p => p.Id == 3);
                                    if (producto != null)
                                    {
                                        <h1 class="h1 text-success">@producto.Nombre_producto</h1>
                                        <p>@producto.Descripcion</p>
                                    }
                                }
                                else
                                {
                                    <p>No se encontraron productos.</p>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="~/img/41.png" alt="" style="width: 600px; height: 500px;">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                @if (Model != null)
                                {
                                    var producto = Model.FirstOrDefault(p => p.Id == 41);
                                    if (producto != null)
                                    {
                                        <h1 class="h1 text-success">@producto.Nombre_producto</h1>
                                        <p>@producto.Descripcion</p>
                                    }
                                }
                                else
                                {
                                    <p>No se encontraron productos.</p>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
    <!-- End Banner Hero -->
    <!-- Start Categories of The Month -->
    <section class="container py-5">
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Algunas de nuestras categorias</h1>
                <p>
                    Descubre las mejores opciones en placas de video,
                    procesadores y mouse para potenciar tu experiencia tecnológica.
                    ¡Encuentra tu equipo ideal hoy mismo!
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="/Producto"><img src="~/img/PLACADEVIDEO.jpg" class="rounded-circle img-fluid border"></a>
                <h5 class="text-center mt-3 mb-3">Placas de video</h5>
                <p class="text-center"><a class="btn btn-success" href="/Producto">Ver</a></p>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="/Producto"><img src="~/img/PROCESADOR.jpg" class="rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center mt-3 mb-3">Procesadores</h2>
                <p class="text-center"><a class="btn btn-success" href="/Producto">Ver</a></p>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="/Producto"><img src="~/img/MOUSE.jpg" class="rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center mt-3 mb-3">Mouse</h2>
                <p class="text-center"><a class="btn btn-success" href="/Producto">Ver</a></p>
            </div>
        </div>
    </section>
    <!-- End Categories of The Month -->
    <!-- Start Featured Product -->
    <section class="bg-light">
        <div class="container py-5">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Logitech Blanco</h1>
                    <p>
                        Descubre la elegancia en cada detalle con nuestra colección en blanco de Logitech.
                        Desde teclados, auriculares hasta mouse, 
                        cada producto combina estilo y rendimiento para complementar tu espacio gamer.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <a href="/Compra">
                            <img src="~/img/35.png" class="card-img-top" alt="..." width:"400px" height:"400px">
                        </a>
                        <div class="card-body">
                            @if (Model != null)
                            {
                                var producto = Model.FirstOrDefault(p => p.Id == 35);
                                if (producto != null)
                                {
                                    <a href="/Compra" class="h2 text-decoration-none text-dark">@producto.Nombre_producto</a>
                                    <li class="text-muted text-right">@producto.Precio.ToString("C")</li>
                                    <p class="card-text">
                                        El teclado Logitech G713 Aurora ofrece estilo y rendimiento excepcionales para jugadores.
                                        Con retroiluminación RGB y interruptores mecánicos, proporciona una experiencia de juego única y precisa.
                                    </p>
                                }
                            }
                            else
                            {
                                <p>No se encontraron productos.</p>
                            }   
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <a href="/Compra">
                            <img src="~/img/32.png" class="card-img-top" alt="..." width:"400px" height:"400px">
                        </a>
                        <div class="card-body">
                            @if (Model != null)
                            {
                                var producto = Model.FirstOrDefault(p => p.Id == 32);
                                if (producto != null)
                                {
                                    <a href="/Compra" class="h2 text-decoration-none text-dark">@producto.Nombre_producto</a>
                                    <li class="text-muted text-right">@producto.Precio.ToString("C")</li>
                                    <p class="card-text">
                                        El mouse Logitech G Pro ofrece rendimiento profesional en un diseño ligero y ambidiestro.
                                        Con sensor HERO de hasta 16,000 DPI y seis botones programables, es ideal para juegos rápidos y precisos.
                                    </p>
                                }
                            }
                            else
                            {
                                <p>No se encontraron productos.</p>
                            }           
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <a href="/Compra">
                            <img src="~/img/36.png" class="card-img-top" alt="..." width:"400px" height:"400px">
                        </a>
                        <div class="card-body">
                            @if (Model != null)
                            {
                                var producto = Model.FirstOrDefault(p => p.Id == 36);
                                if (producto != null)
                                {
                                    <a href="/Compra" class="h2 text-decoration-none text-dark">@producto.Nombre_producto</a>
                                    <li class="text-muted text-right">@producto.Precio.ToString("C")</li>
                                    <p class="card-text">
                                        Los auriculares Logitech G435 ofrecen sonido envolvente y de alta calidad en un diseño ligero y colorido.
                                        Con micrófono integrado, comodidad duradera y compatibilidad multiplataforma,
                                        son ideales para juegos, música y llamadas.
                                    </p>
                                }
                            }
                            else
                            {
                                <p>No se encontraron productos.</p>
                            }                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Featured Product -->
    <!-- Start Footer -->
    
</body>

</html>