@{
    Layout = "Login_Layout";
}

@model SalesGamerWEB.Models.Usuario

<body style="background-color: #666666;">
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                @using (Html.BeginForm("Create", "Register", FormMethod.Post, new { @class = "login100-form validate-form" }))
                {
                    <span class="login100-form-title p-b-43">
                        Registrate
                    </span>

                    <div class="wrap-input100 validate-input" data-validate="El mail tiene que ser valido: ex@abc.xyz">
                        @Html.TextBoxFor(m => m.Mail, new { @class = "input100", type = "text" })
                        <span class="focus-input100"></span>
                        <span class="label-input100">Email</span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="El usuario es necesario">
                        @Html.TextBoxFor(m => m.usuario, new { @class = "input100", type = "text" })
                        <span class="focus-input100"></span>
                        <span class="label-input100">Usuario</span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="La contraseña es necesaria">
                        @Html.PasswordFor(m => m.Contraseña, new { @class = "input100" })
                        <span class="focus-input100"></span>
                        <span class="label-input100">Contraseña</span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="La contraseña es necesaria">
                        <input class="input100" type="password" name="passConfirm" />
                        <span class="focus-input100"></span>
                        <span class="label-input100">Repetir contraseña</span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" type="submit">
                            Registrarse
                        </button>
                    </div>

                    @if (ViewBag.Error != null)
                    {
                        <div style="color:red;">
                            @ViewBag.Error
                        </div>
                    }
                }

                <div class="login100-more" style="background-image:url('@Url.Content("~/img/fondoRegister.jpg")')">
                </div>
            </div>
        </div>
    </div>
</body>
